@model Intex.Models.Client

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Login.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addressLine1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addressLine1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addressLine2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addressLine2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientDiscount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientEmail)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
