@model IEnumerable<Intex.Models.PastOrders>

@{
    ViewBag.Title = "Past Orders";
}

<h2>@ViewBag.client.clientFirstName @ViewBag.client.clientLastName's Past Orders</h2>

@Html.ActionLink("Back to Dashboard", "Display", null, new { @class = "btn btn-danger btn-md" })
<table class="table">
    <tr>
        <th>
            Order Number
        </th>
        <th>
            Comments
        </th>
        <th>
            Summary Report
        </th>
        <th>
            Were the Results Mailed?
        </th>
        <th>
            Order Progress
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.orderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.summaryReport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resultsMailed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderProgress)
        </td>
        
    </tr>
}

</table>
