@model IEnumerable<Intex.Models.Test>

@{
    ViewBag.Title = "Catalogue";
}

<h2>Catalogue</h2>



@using (Html.BeginForm())
{

    <table class="table">
        <tr>
            <th>
                Test Name
            </th>
            <th>
                total Price
            </th>
            <th>Quantity</th>
            <th></th>
        </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.testName)
            </td>
            <td>
                @(item.testPrice + item.basePrice)
            </td>
            <td>
                <form>
                    @Html.HiddenFor(modelItem => item.testID)
                    <input type="text" name="qty" style="width:40px"><br>
                </form>
            </td>
            <td>
                <a href="@Url.Action("Index", "Home")" class="btn btn-danger btn-lg"> Add to cart <i class='glyphicon glyphicon-plus-sign'></i></a>
            </td>

        </tr>
        }

    </table>

    <form>
        <input type="submit" OnClick="Catalogue" formmethod="post">
        @Html.AntiForgeryToken()
    </form>
}
