@model IEnumerable<Intex.Models.Test>

@{
    ViewBag.Title = "Catalogue";
}

<h2>Catalogue</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.testName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.equipmentReq)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.procedures)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.basePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.testPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.testName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.equipmentReq)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.procedures)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.basePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.testPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.testID }) |
            @Html.ActionLink("Details", "Details", new { id=item.testID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.testID })
        </td>
    </tr>
}

</table>


