@model IEnumerable<Intex.Models.Test_Result>


@{
    ViewBag.Title = "Index";
}

<h2>Previous Tests Preformed</h2>

<table class="table">
    <tr>
        <th>
            Test ID
        </th>
        <th>
            Test Name
        </th>
        <th>
            Compound Name
        </th>
        <th>
            Client ID
        </th>
        <th>
            Test Base Price
        </th>
        <th>
            Test Materials and Labor Cost
        </th>
        <th>
            Raw Data From Test
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Test.testID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Test.testName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.ClientID)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Test.basePrice)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Test.testPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Report.rawData)
            </td>
            <td>
                @Html.ActionLink("Details", "PastTestDetails", new { id = item.testResultID }) 
            </td>
        </tr>
    }

</table>

