@model IEnumerable<Intex.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>
@Html.ActionLink("Return to Display", "Display", null, new { @class= "btn btn-danger btn-md" })

<table class="table">
    <tr>
        <th>
            Raw Data
        </th>
        <th>
            Summary Report
        </th>
        <th>
            Employee First Name
        </th>
        <th>
            Client First Name
        </th>
        <th>
            Order Progress
        </th>
        <th>
            Confirmation Sent:
        </th>
        <th>
            Have the Results been Mailed?
        </th>
        <th>
            Comments
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
             @Html.DisplayFor(modelItem => item.Data_Report.rawData)
            
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.summaryReport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.employeeFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.clientFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Progress.orderProgress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comfirmationSenddatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resultsMailed)
        </td>
        <td>
             @Html.DisplayFor(modelItem => item.comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.orderID }, new { @class = "btn btn-danger btn-sm" })
            
        </td>
    </tr>
}

</table>

<p>

@TempData["Name"]

</p>

